/* Resetanto alguns estilo padrão do 
navegador*/
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu',sans-serif;
    background-color: rgb(213, 231, 182);
    margin: 6rem;
    border-radius:7px ;
    
}

.titulo-pagina {
    width: 700px;
    margin: 2rem auto;
    text-align: center;
    font-size: 2.2rem;
    border-radius: 4px ;
}

main {
    width: 700px;
    border-width: 7px;
    border-style: black;
    border-color: black;
    border: 3px solid black;
    margin: auto;
    padding:2rem;
    background-color: rgb(151, 237, 154);
    border-radius: 6px;
}

.elementos-em-linha {
    display: flex;
    justify-content: space-between;
    gap:2rem;
}

.botoes {
    margin: 2rem 0;
    display: flex;
    gap: 6rem;
}

input {
    width:20%;
    line-height: 2.2;
    border-radius: 6px;
}


button {
    width: 10%;
    line-height: 2.2;
    border-radius: 6px;
}

button {
   border: none;
   border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 1px 1px 1px #555;
}

input {
    width: 35%;
    line-height:2.2;
    border-radius: 6px;
    border: 2px solid #0000;
    padding-left: 8px;
    margin-top: 8px;
    /* outline: none; */
}

#resultado {
    border: 2px solid black;
    height: 2rem;
    margin: 1rem 0 0 0;
    border-radius: 6px;
    display: flex;
    flex-direction: row; /*estabelece a direção de alinhamento */
    justify-content: center; /* alinha no eixo principal */
    align-items: center; /* alinha no eixo secundário */
}

button{
    width: 20%;
    line-height: 2.2;
    margin: 1rem;


}

#btClassificar {
    background-color: #713be6;
    color: #439dec;
    border: none;
    border-radius: 5px;
    margin: 1rem;

}

#btClassificar:hover {
    background-color: #6e37e6;
    cursor: pointer
}

#btLimpar {
    background-color: #a1de56;
    color: #d3dfbb;
}

#btLimpar :hover {
    background-color: #49ac71;
}

#btLimpar :active {
    background-color: #a4e897;
}


