/* Resetanto alguns estilo padrão do 
navegador*/
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu',sans-serif;
    background-color: rgb(239, 214, 233);
    
}

.titulo-pagina {
    width: 700px;
    margin: 2rem auto;
    text-align: center;
    font-size: 2.2rem;
    border-radius: 4px ;
}

main {
    width: 700px;
    border: 1px solid black;
    margin: auto;
    padding:2rem;
    background-color: rgb(225, 183, 236);
    border-radius: 6px; 
    box-shadow: 4px 4px 4px #888;

}

.elementos-em-linha {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.botoes {
    margin: 2rem 0;
    display: flex;
    gap: 6rem;
}

input {
    width:20%;
    line-height: 2.2;
    border-radius: 6px;
    border: 1px solid #000000;
    padding-left: 8px;
    margin-top: 8px;
}
#resultado {
    border: 1px solid black;
    height: 2rem;
    margin: 2rem 0 0 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row; /* estabelece a direção de alinhamento */
    justify-content: center; /* alinha no eixo principal */
    align-items: center; /* alinha no eixo secundário */
    gap: 1rem;
}

button {
    width: 10%;
    height: 2.6rem;
    line-height: 2.2;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 1px 1px 1px #555;
}
.acao-positiva {
    background-color: #2078ec;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
}

.acao-positiva:hover {
    background-color: #2078ec;
}

.acao-positiva:active {
    background-color: #1d6dd6;
}

.acao-negativa {
    background-color: #f19fc1;
    color: #ffffff;
}

.acao-negativa:hover {
    background-color: #e4a8c1;
}

.acao-negativa:active {
    background-color: #f568a3;
}

.monetario::before {
    content: "R$ ";
}
